<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.2" package="online.ravinder.inappupdatedemo">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="29" />
	<application android:label="InAppUpdateDemo.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>